---
name: reviewdog
on:
  pull_request:
jobs:
  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.16'
      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v2
        with:
          filter_mode: nofilter
          fail_on_error: true
